html,
.content {
  width: 90%; /* Instead of fixed pixel width */
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;             /* NEW - Chrome */
}

body, html {
  height: 100vh;
  touch-action: manipulation; /* Prevent unwanted zooming */
  --webkit-user-select: none;  /* Prevent text selection */
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-style: bold;
}

/* .button {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  color: white;
  background-color: #626ccc;
  padding: 10px;
  margin: 20px;
  width: 180px;
  height: 50px;
  margin-bottom: 50px;
} */

button {
  padding: 15px 25px; /* Larger touch area for mobile */
  font-size: 1.2rem;
}

a {
  padding: 10px;
  display: inline-block;
}

nav li a:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
}
.gradient {
  background-image: url("../images/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 90;
  padding-left: auto;
  padding-right: auto;
  /* background-transparent: 0.2; */
  /*background:rgb(0,97,242);
background:linear-gradient(135deg,rgba(0,97,242,1)0%,rgba(105,0,199,1)100%);*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);
}

header {
  position: sticky;
  top: 0;
}

.page-header {
  margin-top: 3.5rem;
  font-size: 40px;
  color: #000000;
}
.page-header p {
  margin-left: 50rem;
  padding: 10rem 5rem 0rem 0rem;
}
.page-header button {
  margin-left: 50rem;
}
li {
  padding-left: 2.5rem;
}
.dev a{
  text-decoration: none;
  color: black;
}
.page.dev{
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 95%,0 100%);
}
.dev .card{
  width:350px; 
  height:500px; 
  box-shadow:2px 2px 14px 3px #726c6c;
  background-color:rgb(240, 240, 240);
}
.templates {
  margin-bottom: 10rem;
  background-size: cover;
  height: auto;
  width: auto;
  padding-bottom: 7rem;
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.templates h1 {
  padding-top: 3.5rem;
  text-align: center;
}
.templates p {
  padding: 1.5rem;
  text-align: center;
  font-size: 2rem;
}
.templates img {
  padding: 2rem;
  border: 0px;
}
.features h1 {
  margin: 0rem 0rem 2rem 0rem;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.features img{
  padding: 1rem;
  box-sizing: 1rem;
  size-adjust: auto;
  height:auto;
  width: auto;
}
.page {
  margin-top: 2.5rem;
  background: rgb(240, 240, 240);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.page-title {
  margin: 4rem 0rem 2.5rem 7rem;
}
.page-title-para {
  margin: 0.5rem 0rem 2.5rem 7rem;
}
form {
  margin-left: 10rem;
  padding-left: 10rem;
}
.Form h1 {
  margin: 5rem;
  text-align: center;
}
.Form div {
  margin-bottom: 2.5rem;
}
.Form button {
  margin-top: 2rem;
}
footer {
  padding: 7rem;
  background-color: #000000;
  color: #ffffff;
  text-align: top;
}
